html{
    background-color:#f8f9fa !important;

}
body{
    font-family: Lato,sans-serif !important;
}
.Home .bg-light{
    background-color: transparent !important;
    color:#fff;
    z-index: 1;
}
.Home .router-link-active, .Home .navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
}
.highlight--blue{color: #00d84c;font-size: 40px;
    text-transform: uppercase;}
.highlight--purple{color:#ff0094;font-size: 40px;
    text-transform: uppercase;}
.product__single_box {
    margin-bottom: 103px;
}
.cursor{cursor: pointer;}
.coupon__product_single {
    position: relative;
    background: #fff;
    border: 1px solid #f9f9f9;
    box-shadow: 0 70px 70px 0 rgb(0 0 0 / 11%);
    border-radius: 3px;
    padding: 81px 50px 40px;
    max-width: 337px;
    margin: 0 auto;
}
.coupon__product_single .cp__product_logo {
    position: absolute;
    top: -45px;
    left: 50px;
}
.coupon__product_single h2 {
    font-weight: 900;
    font-size: 26px;
    color: #000;
    line-height: 1.167em;
    margin-bottom: 11px;
    margin-top: 0;
}
.coupon__product_single p {
    color: #4f5b6d;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: .16px;
    margin-bottom: 20px;
    opacity: .9;
}
.coupon__product_single .couopn__pricing_tag{
    margin-bottom: 20px;
    margin-right: -25px;
}
.coupon__product_single .couopn__pricing_tag .price{
    font-weight: 900;
    font-size: 32px;
    line-height: 1;
}
.coupon__product_single .couopn__pricing_tag sup {
    font-weight: 700;
    font-size: 24px;
}
.coupon__product_single .couopn__pricing_tag .starting__text{
    font-size: 14px;
    color: #677181;
    font-weight: 400;
}
.coupon__product_single .couopn__pricing_tag .price, .cp__product_wrapper .coupon__product_single .couopn__pricing_tag sup {
    color: #ff2c5d;
}
.coupon__product_single .claim__offer_btn {
    color: #fff;
    background: #ff2c5d;
    padding: 5px 25px;
    border-radius: 30px;
    font-weight: 900;
    font-size: 15px;
    text-shadow: 0 2px 3px rgb(0 0 0 / 18%);
    transition: all .25s;
}
.btn_checkout {
    color: #fff;
    background: #ff2c5d;
    padding: 5px 25px;
    border-radius: 30px;
    font-weight: 900;
    font-size: 15px;
    text-shadow: 0 2px 3px rgb(0 0 0 / 18%);
    transition: all .25s;
    position: absolute;
    bottom: 20px;
    width: 80%;
    left: 10%;
}
.shopping-cart {
    background: #fff;
    box-shadow: 0 22px 79px 0 rgb(0 0 0 / 11%);
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    position: fixed;
    top: 40%;
    right: 0;
    cursor: pointer;
}
.product-background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 400px;
    background-color: #13038f;
    padding-top: 120px;
    text-align: center;
}
.product-background h1{
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.15em;
    letter-spacing: .49px;
    margin-bottom: 15px;
   
}
.product-container{
    margin-top: 250px;
}
.items-count{font-size: 10px;}
.items-price{font-size: 13px;font-weight: bold;}
.theme-color{color: #ff0562f2;}

.shopping-cart .coupon-text span {
    transform: rotate(-90deg);
    font-weight: 400;
    font-size: 16px;
    color: #9f9f9f;
    letter-spacing: .23px;
    text-transform: uppercase;
}
.relative{position: relative;}
.flex{display: flex;}
.one-third{
    width: 33.33333%;
}
.percent-10{width: 10%;}
.percent-20{width: 20%;}
.percent-30{width: 30%;}
.percent-40{width: 40%;}
.percent-50{width: 50%;}
.percent-60{width: 60%;}
.percent-70{width: 70%;}
.cart-item img{height: 40px;width: 40px;object-fit: cover;margin: 5px;}
.cart{position: fixed;top: 60px;right: 20%;}
.cart .cart-items{
    display: none;
    width: 700px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    box-shadow: 2px 2px 10px 5px #d1d1d1;
}
.cart-summary img{width: 30px;margin: auto;display: block}
.remove-cart-item{
    position: absolute;
    right: 20px;
    top: 16px;
    color: red;
    cursor: pointer;
}
.products_grid .col-sm-4{
    margin-bottom: 60px;
}
.cart .cart-items.show-items{display: flex;}
.cart-item td{border-bottom: 1px solid #e8e7e7;}
.cart-items {min-height: 350px;}
.checkout-second{
    width: 30%;
    background: #040c35;
    border-radius: 5px;
    position: relative;
}
.product_price{
    color: #23b89a;
    font-weight: bold;
    font-size: 20px;
}
.custom-form-control{
    border-radius: 15px;
    height: 30px;
    font-size: 12px;
}

.auth_card{

    max-width: 350px;
    padding: 50px;
    background: #fff;
    border-radius: 15px;
    margin-left: auto;
    margin-right: 15px;
}
.auth_card h4, .vue-card-title
{   
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #23b89a;
    margin-bottom: 1rem;
}
.background-auth{
    background-image: url('/images/auth-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 350px;
    opacity: 0.5;

}
.router-link-active {
    color: #23b89a !important;
}
.nav-link{
    font-weight: 600 !important;
}
.product-image-display{
    width: 350px;
}
.product-image-display img{
    width:100%;
    max-height: 350px;
    background-size: cover;
}
.product-form-card{
    width: 400px;
    margin-left: auto;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
}
.fit-image{
    max-height: 100px;
    position: relative;
    object-fit: cover;
}
.Pagination {
    justify-content:center;
}
.Page-active{
    background-color: rgb(35 184 154) !important;
    color: #fff !important;
}